<div class="auth-wrapper d-flex login_form">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
           
            <i class="las la-sign-in-alt fa-3x"></i>
          </div>
          <h3 class="mb-4">Login Now</h3> 
          <form>
            <div class="form-group mb-3">
              <input class="form-control input-md" id="email" name="email" type="text" placeholder="Email Address">
              
            </div>
            <div class="form-group mb-4">
              <input type="password" class="form-control" name="password" placeholder="Password"   minlength="6">
             
            </div>
            <div class="form-group text-left">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="rememberme" id="remember_pwd"  value="1">  
                <label for="remember_pwd" class="cr"> Remember Me</label>
              </div>
            </div>
            <button type="submit"
              class="btn btn-primary mb-4 shadow-2">Login</button>
            <p class="mb-2 text-muted"> <a routerLink="/admin/forgot-password" title="Lost your password?">Lost your
                password?</a></p>           
          </form>
        </div>
      </div>
    </div>
</div>
  
  